@custom-variant dark (&:is(.dark *));
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Global dark background variables */
:root {
	--background: #000000;
	--foreground: #ffffff;
}

html, body {
	height: 100%;
}

body {
	background-color: var(--background);
	color: var(--foreground);
}
